	
 
	
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script type="text/javascript" src="/assets/admin/theme.js"></script>
	
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script type="text/javascript">
		$(document).ready(function() {
		    App.init();
			 
        <%
            if( success || error ){
                switch( message ){
                    case 'loggedout':
                        %>          
                            $.gritter.add({
                                title: 'SYSTEM ALERT SUCCESS',
                                text: 'You have been Logged Out Successfully'
                            });
                        <%
                    break;
                    case 'LOGIN_FAILED':
                        %>          
                            $.gritter.add({
                                title: 'SYSTEM ALERT NOTICE',
                                text: 'Login Failed, Please Try Again!!'
                            });
                        <%
                    break;
                    case 'ACCOUNT_LOCKED':
                        %>          
                            $.gritter.add({
                                title: 'SYSTEM ALERT NOTICE',
                                text: 'Your ACCOUNT is locked! Please Try Again in 30 mins'
                            });
                        <%
                    break;
                    case 'PERMISSIONS':
                        %>          
                            $.gritter.add({
                                title: 'SYSTEM ALERT NOTICE',
                                text: 'No Permission for this Realm. Please check account access!'
                            });
                        <%
                    break;
                    case 'ACCESS_DENIED':
                        %>          
                            $.gritter.add({
                                title: 'SYSTEM ALERT NOTICE',
                                text: 'Your Session has Expired. Please Login Again!'
                            });
                        <%
                    break;
                }
            }
        %>
 
 
		    //Demo.initThemePanel();
		});
	</script>
</body>
</html>