	
 
	
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/assets/admin/theme.js"></script>
	
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
		    App.init();
		});
	</script>
</body>
</html>