
          <!-- begin #footer -->
            <div id="footer" class="footer">
                <span class="pull-right">
                    <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                        <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
                    </a>
                </span>
                 
            </div>
            <!-- end #footer -->
		</div>
		<!-- end #content -->

	</div>
	<!-- end page container -->

                            <!-- #modal-alert START -->
                            <div class="modal fade" id="modal-alert">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Alert Message</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-danger m-b-0">
                                                <p><b>Confirmation:</b> Are you sure you want to log out?</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="javascript:;" class="btn width-100 btn-default" data-dismiss="modal">No</a>
                                            <a href="/dashboard/logout" class="btn width-100 btn-danger" >Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #modal-alert END -->

 
 
 <script>
		 $(document).ready(function() {
			 App.init();
			 PageDemo.init();
			 FormDemo.init();

 

	   <% if(link == "Home" ){ %>
		   $('#data-table').DataTable({
			 "order": [[ 0, "desc" ]],
			 "iDisplayLength": 100,
			 "saveState": true
           });
		   $('#data-table2').DataTable({
			 "order": [[ 0, "desc" ]],
			 "iDisplayLength": 100,
			 "saveState": true
		   });
	   <% } else { %>
		   $('#data-table').DataTable({
		   "iDisplayLength": 50
		   });
       <% } %>
       
         });
         
      
	 </script>
</body>
</html>
 