<!-- begin #header -->
<div id="header" class="header navbar navbar-warning navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="/dashboard/home.html" class="navbar-brand"> <%= site_title %> </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <!-- begin navbar-right -->
        <ul class="nav navbar-nav navbar-right">
             <li>
                <!--     <a href="#" class="navbar-brand">   </a>
                <a href="javascript:;" data-click="right-sidebar-toggled">
                    <i class="fa fa-align-left">adfads</i>
                </a> -->
            </li> 
        </ul>
        <!-- end navbar-right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->
		
