
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar"  >
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-user">
                <div class="image">
                      <img src="/assets/images/user_profile.jpg" alt="" /> 
                </div>
                <div class="info">
                    <div class="name dropdown">
                         <%= adminuser.fullname %> 
                       <!-- <ul class="dropdown-menu">
                             <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">Setting</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;">Log Out</a></li>
                        </ul> -->
                    </div>
                    <div class="position"><%= adminuser.email %></div>
                </div>
            </li>
            <li class="nav-header">Navigation</li>
            <li <% if( link == 'Home'  ) { %>class="active"<% } %> >
                <a href="<% if( link == 'Home'  ) { %>#<% } else { %>/dashboard/home.html<% } %>">
                    <i class="fa fa-home"></i>
                    <span>Dashboard Home</span>
                </a>
            </li>


            <li ui-sref-active="active">
                <a  href="#modal-alert" data-toggle="modal" >
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                </a>
            </li>
            <li class="divider has-minify-btn">
                <!-- begin sidebar minify button -->
                <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                <!-- end sidebar minify button -->
            </li>

        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->


