<%- include('partial/inner-header'); %>
<%- include('partial/inner-topheader'  , { adminuser: currentUser }) %>
<%- include('partial/inner-sidebar',  { link: link, adminuser: currentUser}) %>

<div style="padding:18px;" >
<!-- start content -->

    <!-- begin #content wrapper -->
    <div id="content" class="content p-0 height-full" >
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="/dashboard/home.html">Home</a></li>
            <li class="active"> Page Not Found </li>
        </ol>
        <!-- begin page header -->
            <h1 class="page-header"> Page Not Found</h1>
        <!-- end page header -->

        <!-- begin section container -->
        <div class="section-container section-with-top-border" >
            <div class="row" >
                <div class="col-md-12" >

                    <h2> 404 PAGE NOT FOUND </h2>

                </div>
            </div>
        </div>
        <!-- end section container -->

    <!-- end #content wrapper -->
    </div>
<!-- end content -->
</div>

<%- include('partial/inner-footer'); %>