
<%- include('partial/header'); %>

<!-- begin #page-container -->
	<div id="page-container" class="fade page-container">
	    <!-- begin login -->
		<div class="login">
           <!--  <img src="/assets/images/nc-dit.png" /><br /> -->
		    <!-- begin login-brand -->
            <div class="login-brand bg-inverse text-white" style="margin-top: 24px">
                 <%= site_title %>
            </div>
		    <!-- end login-brand -->
		    <!-- begin login-content -->
            <div class="login-content">
                <h4 class="text-center m-t-0 m-b-20">Great to have you back!</h4>

                <form action="/login.html" data-parsley-validate method="POST" name="login_form" class="form-input-flat">
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email Address" required data-parsley-error-message="Username cannot be Blank" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password"  required  />
                    </div>
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-warning btn-lg btn-block">Sign in to your account</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <!-- Cannot Login? <a href="#" class="text-muted">Reset your Password</a> -->
                    </div>
                </form>
            </div>
		    <!-- end login-content -->
		</div>
		<!-- end login -->
	</div>
	<!-- end page container -->
    
    
    <%- include('partial/footer-login', { success: alertSuccess, error: alertError, message: alertMessage} ); %>

    